<html>
	<head>
		<title>Ticket Login</title>
		
		<link async href="http://fonts.googleapis.com/css?family=Coda" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

		<link rel="stylesheet" type="text/css" href="static/theme.css">		
	</head>


<body>		

	<form action="login" method="post">

	<table>
		<col width="5%">
		<col width="10%">
		<col width="85%">
		<tbody>
			<tr>
				<td colspan=1>&nbsp;</td>
				<td colspan=1 align="center"><h1 class="title">Super Simple Tickets</h1></td>
				<td colspan=1>&nbsp;</td>
			</tr>
			<tr>
				<td colspan=1>&nbsp;</td>
				<td colspan=1>					
					<table>
						<tbody>
							<tr>
								<td>
									<input class="enjoy-css" type="text" name="Username" placeholder="Username" value="">
								</td>
							</tr>
							<tr>
								<td>
									<input class="enjoy-css" type="password" name="Password" placeholder="Password" value="">
								</td>
							</tr>
							<tr>
								<td align="center">
									<input class="button" type="submit" value="Login">
								</td>
							</tr>
							<tr>
								<td align="justify" class="text" align="justify">
									{% if error %}
									<p><strong>Error:</strong> {{error}}</p>
									{% endif %}
								</td>
						</tbody>
					</table>
				</td>
				<td colspan=1>&nbsp;</td>
			</tr>

			<tr>
				<td colspan=1>&nbsp;</td>
				<td colspan=1 class="text" align="justify">
					SuperSimpleTickets is an extremely easy to tackle the challenge of managing tickets documenting tasks to perform and bugs to be fixed within your software project.
				</td>
				<td colspan=1>&nbsp;</td>
			</tr>

			<tr>
				<td colspan=1>&nbsp;</td>
				<td colspan=1 class="text" align="justify">
					To get started with this system you will need a valid account to acess the server, please contact the administrator for a suitable account.
				</td>
				<td colspan=1>&nbsp;</td>
			</tr>
		</tbody>
	</table>	
	
	</form>

	

</body>
</html>
